.biometric-page {}

.biomarker-page{
    /* background:#F1E6D8;
    min-height:100vh;
    max-width: 1200px;
    margin: 0 auto; */

    background-color: #F1E6D8;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

}

/* HEADER */
.bio-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.sync{
    background:#cfe3c2;
    padding:8px 14px;
    border-radius:20px;
}

/* GRID */
.bio-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    margin-top:30px;
    color:black;
}

.metric-card{
    background:#fff;
    padding:20px;
    border-radius:15px;
    cursor:pointer;
    border:2px solid #AA2B3A;
}

.metric-card h3{
    margin:0;
}

.metric-card h2{
    margin:10px 0;
}

/* progress */
.progress-bar{
    height:8px;
    background:#eee;
    border-radius:10px;
}

.progress-bar div{
    height:100%;
    background:#28314E;
    border-radius:10px;
}

/* ================= MODAL ================= */

.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal-card{
    background:white;
    width:600px;
    height: 400px;
    padding:20px;
    border-radius:20px;
    position:relative;
    color:black;
}

.close-button{
    position:absolute;
    top:10px;
    right:10px;
    border:none;
    background:none;
    font-size:20px;
    cursor:pointer;
}

/* tabs */
.tabs{
    display:flex;
    gap:10px;
    margin:15px 0;
}

.tabs button{
    padding:6px 12px;
    border-radius:10px;
    border:1px solid #ccc;
    background:white;
    color:black;
}

.tabs .active{
    background:#28314E;
    color:white;
}

/* chart */
.chart-container{
    width:100%;
    height:250px;
}

/* MOBILE */
@media (max-width:600px){
    .bio-grid{
        grid-template-columns:1fr;
    }

    .modal-card{
        width:90%;
    }
}