/* Overlay */
.create-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Card */
.create-card {
    background: white;
    height: 600px;
    width: 400px;
    border-radius: 30px;
    padding: 40px;
    position: relative;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

/* Close */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

/* Title */
.title {
    text-align: center;
    font-size: 34px;
    margin-bottom: 10px;
}

/* Form */
.create-form {
    display: flex;
    flex-direction: column;
}

/* Form group */
.form-group label {
    display: block;
    font-size: 18px;
}

.form-group input[type="text"] {
    width: 90%;
    /* padding: 14px; */
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

/* Radio buttons */
.radio-group {
    display: flex;
    gap: 50px;
    margin-top: 6px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

/* Checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #555;
}

/* Button */
.create-btn {
    margin-top: 10px;
    align-self: center;
    padding: 14px 40px;
    background: #273355;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}
