/* * {
  box-sizing: border-box;
  font-family: "Georgia", serif;
} */

.login-page {
  width: 100vw;
  background: linear-gradient(135deg, #1f2937, #2f3b5f);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-card {
  width: 520px;
  background: #F1E6D8;
  border-radius: 30px;
  padding: 40px 50px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.tabs {
  display: flex;
  background: #c1b4a5;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}

.tab {
  flex: 1;
  padding: 14px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
}

.tab.active {
  background: #b12b3a;
  color: white;
  border-radius: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
  color:#000000
}

.subtitle {
  text-align: center;
  color: #6f6f6f;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  color:#000000;
  margin-bottom: 6px;
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 14px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 25px;
}

.remember {
  display: flex;
  gap: 6px;
  align-items: center;
  color:#000000;
}

.forgot {
  color: #9a8c7a;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: #b12b3a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #951f2d;
}
