/* Overlay */
.profiles-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Main card */
.profiles-card {
    background: white;
    height: 500px;
    width: 700px;
    border-radius: 30px;
    padding: 40px;
    position: relative;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

/* Close button */
.close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

/* Title */
.title {
    font-size: 36px;
    color:#000000;
    text-align: left;
    margin: 0;
}

.subtitle {
    margin-top: 8px;
    font-size: 20px;
    color: #777;
    text-align: left;
}

/* Divider */
.divider {
    margin: 30px 0;
    border: none;
    height: 1px;
    background: #333;
}

/* Profiles list */
.profiles-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Profile row */
.profile-row {
    background: #273355;
    color: white;
    padding: 10px 25px;
    border-radius: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Left side */
.profile-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* Avatar */
.profile-avatar {
    width: 48px;
    height: 48px;
    background: #d9d9d9;
    border-radius: 50%;
}

/* Text */
.profile-row h4 {
    margin: 0;
    font-size: 20px;
}

.profile-row p {
    margin: 0;
    font-size: 16px;
    color: #cfd6e3;
    text-align: left;
}

/* Arrow */
.arrow {
    font-size: 26px;
}

/* Add profile button */
.add-profile-btn {
    margin-top: 30px;
    width: 100%;
    padding: 10px 25px;
    background: white;
    color: #000000;
    border: 3px solid #273355;
    border-radius: 14px;
    font-size: 22px;
    cursor: pointer;
}