/* Overlay background */
.profile-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}

/* Main card */
.profile-card {
    background: #ffffff;
    height: 500px;
    width: 700px;
    border-radius: 30px;
    padding: 40px;
    position: relative;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}

/* Close button */
.close-btn {
    position: absolute;
    top:0;
    right: 0;
    background: none;
    color: #000000;
    border: none;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 18px;
}

/* Header section */
.profile-header {
    display: flex;
    align-items: center;
    gap: 30px;
    color:#000000;
}

/* Avatar */
.avatar {
    width: 120px;
    height: 120px;
    background: #d9d9d9;
    border-radius: 50%;
}

/* User info */
.user-info h2 {
    margin: 0;
    font-size: 36px;
}

.user-info p {
    margin-top: 6px;
    font-size: 20px;
    color: #777;
    text-align: left;
}

/* Health score */
.health-score {
    margin-left: auto;
    border: 4px solid #bfe0a2;
    border-radius: 20px;
    padding: 7px 30px;
    text-align: center;
}

.health-score .label {
    display: block;
    font-size: 18px;
}

.health-score .value {
    font-size: 48px;
    font-weight: bold;
}

/* Divider */
.divider {
    margin: 35px 0;
    border: none;
    height: 1px;
    background: #333;
}

/* Info section */
.info-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Each info row */
.info-row {
    background: #273355;
    color: white;
    padding: 10px 25px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Text */
.info-label {
    font-size: 20px;
}

.info-value {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #cfd6e3;
}

/* Arrow */
.arrow {
    font-size: 26px;
}
